#favorite-places {
    background: url(../../../public/assets/favorite-place.png);
    padding: 45px 80px;
}

.carousel {
    height: 500px;
    margin: 45px 100px;
    color: var(--white);
}

.a-favorite-place{
    position: relative;
    width: 330px;
    height: 484px;
}

.a-favorite-place .img{
    width: 100%;
    object-fit: contain;
}


.a-favorite-place p {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.a-favorite-place {
    background: url(../../../public/assets/gradient-favorite.png)
}