#section-map {
    width: 100%;
    height: auto;
    background-color: var(--light-green);
    padding-top: 53px;
    box-sizing: content-box;
    color: var(--light-green);
}

.map {
    display: flex;
    height: 430px;
    padding: 45px 0 70px 0;
}

.map .embed-map {
    width: 67%;
}
.map .search-map {
    width: 34%;
}
.map .search-map .menu {
    display: flex;
    justify-content: space-between;
}

.map .search-map .menu .btn-menu {
    width: 75px;
    height: 42px;
    background: var(--green);
    border-radius: 5px;
    border: none;
}
#section-map {
    color: var(--green);
}

#section-map .search-map {
    background: #eae8e8;
    border-radius: 0 5px 5px 0;
}

#form-search .search-bar {
    width: 100%;
    height: 30px;
    margin: 10px 0 20px 0;
}

#form-search .search-bar input{
    width: 86%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

#form-search .search-bar button{
    width: 11%;
    background: var(--green);
    border: none;
    border-radius: 5px;
    height: 100%;
}
#form-search  select {
    width: 99%;
    height: 30px;
    border: none;
    border-radius: 5px;
}