#footer {
    position: relative;
}

#footer .first-section {
    background: url(../../../public/assets/footer.png) no-repeat, url(../../../public/assets/footer-main.png) no-repeat;
    background-size: cover;
}

#footer .information{
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    color: var(--white);
    text-align: start;
    gap: 70px;
}
#footer .information .social-media {
    width: 165px;
    margin-left: 110px;
}

#footer .information .social-media img {
    width: 100%;
}

#footer .information .social-media .link-social-media {
    display: flex;
    justify-content: space-between;
}

#footer .information .contact {
    display: grid;
    grid-template-columns: 16px 92px 220px;
    gap: 13px 19px;
}


#footer .information .social-media .link-social-media .social-icon {
    border: none;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    margin-top: 25px;
} 
#footer .information .short-link  {
    margin: 0;
    padding-top: 50px
}
#footer .information .short-link li {
    margin: 13px 0;
}
#footer .information .short-link ul {
    padding-left: 10px;
}
#footer .information .short-link li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

#footer .information .short-link .count-user {
    display: flex;
    gap: 4px;
    position: relative;
    left: -5px;
}

#footer .devider  {
    width: 100%;
    height: 2px;
    background-color: var(--green);
    position: absolute;
    bottom: 12.87%;;
}

#footer .copy-by {
    height: 42px;
    background: var(--green);
}

#footer .copy-by p {
    line-height: 42px;
    font-weight: 300;
}